<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <title></title>
</head>
<body>
  <form method= "post" action="/books">
    <div class="center"><h1><%=word%> a book</h1></div>
    <div>
      <input type="text" name="title" placeholder="title"/><Br>
      <input type="text" name="authors" placeholder="author"/> <Br>
      <input type="text" name="year" placeholder="year published"/><Br>
      <input type="text" name="rate"  placeholder="rating"/><Br>
      <input type="text" name="price" placeholder="price" /><Br>
      <input type="text" name="cover" placeholder="cover"/><Br>
      <br>
      <input class="center" type ="submit"> </div>
    </form>
    <br><Br>

    <div class='center'>Or <a href="/books">view library</a></div>
  </body>
  </html>


