<html>
<head><link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <title>Login</title>
</head>
<body>
  <div class="center" >
    <h1> Welcome back!  </h1>
  </div> 
  <div>
    <form method="POST" action="/signup">
     <input type="text" id="email" name="user[email]" placeholder="enter email" class="form-control" autofocus><br/>
     <input type="password" id="password" name="user[password]" placeholder="choose password" class="form-control">
       <input class= "center" type="submit" value="Sign up" class="btn btn-primary">
    </form>
  </div>
</body>
</html>
