<!DOCTYPE HTML>

<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> 
  </head>
  <body>
    Welcome to townland <Br><Br>
    <div>
     <h1>
 				<%=town.name%>, <%=town.state%> <Br>
 				<%=town.fact%>

 						</div>

</body>
</html>
