<html>
<head><link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <title>Search for a book</title>
</head>
<body>
  <div>
    <form method= "get" action="/searchresults">
      Search by Title: 
      <input type="search" name="book" placeholder="enter book title here"><Br>
      <input type ="submit">
    </form></div>

    <div class='center'><a href="/books">View library</a></div>

  </body>
  </html>
