<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title></title>
</head>
<body>
<div class="center"><h1> <%= book.title %></h1></div>
	 <div>
	 <b>Book:</b> <%= book.title %>
	 <b>Author:</b> <%= book.author %>
	 Published in <%= book.year %>
	</div>
	<% } %>
</body>
</html>