<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<title></title>
</head>
<body>
<form action="/books/<%= book.id%>?_method=put" method="POST">
<div class="center"><h1>Fix a book</h1></div>
<div>
<input type="text" name="title" placeholder="title"/><Br>
<input type="text" name="author" placeholder="author"/> <Br>
<input type="text" name="year" placeholder="year published"/><Br>
<br>
<input class="center" type ="submit"> </div>
</forms>
<br><Br>

<div class='center'>Or <a href="/books">view library</a></div>
</body>
</html>



