<html>
<head><link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <title>Login</title>
</head>
<body>
  <div class="center" >
    <h1>You have arrived at the Library</h1>
   </div>
  <div class="center" >
    <h2> <a href="/signup">Signup</a><br/>
        or <br/>
     <a href="/login">Login</a> </h2>
   </div>
 </body>
 </html>

